.sidebar {
  overflow-y: auto;
  min-height: 100vh;

  .ant-menu {
    background-color: #557B83;

    .ant-menu-item {
      .ant-menu-title-content {
        a {
          color: #ffffff;
        }
      }
    }

    .ant-menu-item.ant-menu-item-selected {
      background-color: #39AEA9;
    }
  }

  .ant-menu-vertical .ant-menu-item {
    padding: 0 25px;
  }

  .ant-menu-vertical {
    border: none;
  }

  .ant-layout-sider {
    background-color: #557B83;
  }

  &__content {

  }
}